ALWAYS_SEARCH_USER_PATHS = NO
ARCHS = $(ARCHS_STANDARD_32_BIT)
CODE_SIGN_IDENTITY = iPhone Developer
CONFIGURATION = Debug
GCC_C_LANGUAGE_STANDARD = c99
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SRCROOT)/../../Application/Prefix.pch
GCC_VERSION = com.apple.compilers.llvmgcc42
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
HEADER_SEARCH_PATHS = "${BUILT_PRODUCTS_DIR}/**" "${DSTROOT}/**" "${SDK_DIR}/usr/include/libxml2"
INFOPLIST_FILE = KGOInfo.plist
IPHONEOS_DEPLOYMENT_TARGET = 4.0
LIBRARY_SEARCH_PATHS = "${SDKROOT}/usr/include/libxml2" "${SRCROOT}/../../Contrib/GoogleAnalytics" "${BUILT_PRODUCTS_DIR}"
ONLY_ACTIVE_ARCH = YES
OTHER_LDFLAGS = -all_load -ObjC
PREBINDING = NO
SDKROOT = iphoneos
OTHER_CFLAGS = -DDEBUG -DALLOW_SELF_SIGNED_CERTIFICATE
