ALWAYS_SEARCH_USER_PATHS = NO
ARCHS = $(ARCHS_STANDARD_32_BIT)
GCC_C_LANGUAGE_STANDARD = c99
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
IPHONEOS_DEPLOYMENT_TARGET = 4.0
OTHER_LDFLAGS = -all_load -ObjC
PREBINDING = NO
SDKROOT = iphoneos
SKIP_INSTALL = YES
INSTALL_PATH = $(BUILT_PRODUCTS_DIR)
