<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Business</string>
		<key>iconName</key>
		<string>Business</string>
		<key>url</key>
		<string>http://www.hbs.edu/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.college.harvard.edu/</string>
		<key>name</key>
		<string>College</string>
		<key>iconName</key>
		<string>College</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.dce.harvard.edu/</string>
		<key>name</key>
		<string>Continuing Education</string>
		<key>iconName</key>
		<string>ContinuingEd</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.hsdm.harvard.edu/asp-html/</string>
		<key>name</key>
		<string>Dental</string>
		<key>iconName</key>
		<string>Dental</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.gsd.harvard.edu/</string>
		<key>name</key>
		<string>Design</string>
		<key>iconName</key>
		<string>Design</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.hds.harvard.edu/</string>
		<key>name</key>
		<string>Divinity</string>
		<key>iconName</key>
		<string>Divinity</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.gse.harvard.edu/</string>
		<key>name</key>
		<string>Education</string>
		<key>iconName</key>
		<string>Education</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.seas.harvard.edu/</string>
		<key>name</key>
		<string>Engineering</string>
		<key>iconName</key>
		<string>Engineering</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.ksg.harvard.edu/</string>
		<key>name</key>
		<string>Government</string>
		<key>iconName</key>
		<string>Government</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.gsas.harvard.edu/</string>
		<key>name</key>
		<string>Graduate School</string>
		<key>iconName</key>
		<string>GraduateSchool</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.law.harvard.edu/</string>
		<key>name</key>
		<string>Law</string>
		<key>iconName</key>
		<string>Law</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.hms.harvard.edu/</string>
		<key>name</key>
		<string>Medical</string>
		<key>iconName</key>
		<string>Medical</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.hsph.harvard.edu/</string>
		<key>name</key>
		<string>Public Health</string>
		<key>iconName</key>
		<string>PublicHealth</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.radcliffe.edu/</string>
		<key>name</key>
		<string>Radcliffe Institue</string>
		<key>iconName</key>
		<string>RadcliffInstitute</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.fas.harvard.edu/home/</string>
		<key>name</key>
		<string>Faculty of Arts &amp; Sciences</string>
		<key>iconName</key>
		<string>FacofArtsSci</string>
	</dict>
</array>
</plist>
