<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<dict>
		<key>AppBackground</key>
		<string>common/body-background.png</string>
		<key>NavBarTintColor</key>
		<string>#cfd0d1</string>
		<key>PlainSectionHeaderBackground</key>
		<string>#333333</string>
		<key>PrimaryCellBackground</key>
		<string>#FFFFFF</string>
		<key>SearchBarTintColor</key>
		<string>#666666</string>
		<key>SecondaryCellBackground</key>
		<string>#AAFFFFFF</string>
		<key>TableSeparator</key>
		<string>#C0C0BF</string>
	</dict>
	<key>Fonts</key>
	<dict>
		<key>BodyText</key>
		<dict>
			<key>color</key>
			<string>#171717</string>
			<key>font</key>
			<string>Helvetica</string>
			<key>size</key>
			<integer>0</integer>
		</dict>
		<key>Byline</key>
		<dict>
			<key>color</key>
			<string>#808080</string>
			<key>size</key>
			<integer>-3</integer>
		</dict>
		<key>Caption</key>
		<dict>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>-3</integer>
		</dict>
		<key>ContentSubtitle</key>
		<dict>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>-3</integer>
		</dict>
		<key>ContentTitle</key>
		<dict>
			<key>color</key>
			<string>#171717</string>
			<key>font</key>
			<string>Helvetica</string>
			<key>size</key>
			<integer>7</integer>
		</dict>
		<key>DefaultFont</key>
		<string>Helvetica</string>
		<key>DefaultFontSize</key>
		<integer>15</integer>
		<key>NavListLabel</key>
		<dict>
			<key>bold</key>
			<true/>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>-3</integer>
		</dict>
		<key>NavListSubtitle</key>
		<dict>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>-2</integer>
		</dict>
		<key>NavListTitle</key>
		<dict>
			<key>color</key>
			<string>#171717</string>
			<key>bold</key>
			<true/>
			<key>size</key>
			<integer>2</integer>
		</dict>
		<key>NavListValue</key>
		<dict>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>0</integer>
		</dict>
		<key>PageSubtitle</key>
		<dict>
			<key>color</key>
			<string>#808080</string>
			<key>size</key>
			<integer>-1</integer>
		</dict>
		<key>PageTitle</key>
		<dict>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>-3</integer>
		</dict>
		<key>SectionHeader</key>
		<dict>
			<key>bold</key>
			<true/>
			<key>color</key>
			<string>#E0E0E0</string>
			<key>size</key>
			<integer>0</integer>
		</dict>
		<key>SectionHeaderGrouped</key>
		<dict>
			<key>bold</key>
			<true/>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>2</integer>
		</dict>
		<key>SmallPrint</key>
		<dict>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>-3</integer>
		</dict>
		<key>Tab</key>
		<dict>
			<key>bold</key>
			<true/>
			<key>color</key>
			<string>#FFFFFF</string>
			<key>size</key>
			<integer>-2</integer>
		</dict>
		<key>TabSelected</key>
		<dict>
			<key>bold</key>
			<true/>
			<key>color</key>
			<string>#505050</string>
			<key>size</key>
			<integer>-2</integer>
		</dict>
	</dict>
	<key>HomeScreen</key>
	<dict>
		<key>BackgroundColor</key>
		<string>modules/home/home-background.png</string>
		<key>ModuleIconSize</key>
		<string>66 66</string>
		<key>ModuleLabelFont</key>
		<dict>
			<key>color</key>
			<string>#333333</string>
			<key>size</key>
			<integer>-2</integer>
		</dict>
		<key>ModuleLabelTitleMargin</key>
		<integer>2</integer>
		<key>ModuleListMargins</key>
		<string>20 12 0 12</string>
		<key>ModuleListSpacing</key>
		<string>9 32</string>
		<key>NavigationStyle</key>
		<string>Springboard</string>
		<key>SecondaryModuleIconSize</key>
		<string>52 52</string>
		<key>SecondaryModuleLabelFont</key>
		<dict>
			<key>color</key>
			<string>#333333</string>
			<key>size</key>
			<integer>-2</integer>
		</dict>
		<key>SecondaryModuleLabelTitleMargin</key>
		<integer>8</integer>
		<key>SecondaryModuleListMargins</key>
		<string>84 14 0 14</string>
		<key>SecondaryModuleListSpacing</key>
		<string>28 30</string>
		<key>ShowsSearchBar</key>
		<true/>
	</dict>
	<key>Images</key>
	<dict>
		<key>NavBarTitle</key>
		<string>modules/home/logo-home.png</string>
		<key>SearchBarBackground</key>
		<string>common/searchbar-background.png</string>
		<key>SearchBarDropShadow</key>
		<string>common/bar-drop-shadow.png</string>
	</dict>
</dict>
</plist>
