<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSize</key>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>Tiny</string>
				<key>title</key>
				<string>超小</string>
			</dict>
			<dict>
				<key>id</key>
				<string>Small</string>
				<key>title</key>
				<string>小</string>
			</dict>
			<dict>
				<key>default</key>
				<true/>
				<key>id</key>
				<string>Regular</string>
				<key>title</key>
				<string>中</string>
			</dict>
			<dict>
				<key>id</key>
				<string>Large</string>
				<key>title</key>
				<string>大</string>
			</dict>
			<dict>
				<key>id</key>
				<string>Huge</string>
				<key>title</key>
				<string>超大</string>
			</dict>
		</array>
		<key>title</key>
		<string>字體大小</string>
	</dict>
	<key>Modules</key>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>default</key>
				<true/>
				<key>id</key>
				<string>default</string>
				<key>items</key>
				<array>
					<string>people</string>
					<string>map</string>
					<string>news</string>
					<string>calendar</string>
					<string>emergency</string>
					<string>video</string>
					<string>admissions</string>
					<string>about</string>
					<string>customize</string>
					<string>mobileweb</string>
					<string>fullweb</string>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>首頁組件</string>
		<key>unrestricted</key>
		<true/>
	</dict>
</dict>
</plist>
