<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.modolabs.cocoaTouchApplication</string>
	</array>
	<key>Identifier</key>
	<string>com.modolabs.kurogo.modules.people</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Include people module in this app</string>
			<key>Identifier</key>
			<string>includePeopleModule</string>
			<key>Name</key>
			<string>Include People Module</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>KGOModule+Factory.m:moduleWithDictionary:people</key>
							<string>  @&quot;PeopleModule&quot;, @&quot;people&quot;,
</string>
							<key>Modules/People</key>
							<dict>
								<key>Group</key>
								<string>Modules</string>
								<key>Path</key>
								<string>Modules/People</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Modules/People</string>
							<string>KGOModule+Factory.m:import:PeopleModule.h</string>
							<string>KGOModule+Factory.m:moduleWithDictionary:people</string>
						</array>
						<key>Targets</key>
						<array>
							<dict>
								<key>Frameworks</key>
								<array>
									<string>AddressBook</string>
									<string>AddressBookUI</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
