<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Analytics</key>
	<dict>
		<key>AccountID</key>
		<string></string>
		<key>Provider</key>
		<string></string>
	</dict>
	<key>AppFeedbackAddress</key>
	<string>john.smith@example.com</string>
	<key>Modules</key>
	<array>
		<dict>
			<key>class</key>
			<string>HomeModule</string>
			<key>shortName</key>
			<string>Home</string>
			<key>tag</key>
			<string>home</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AboutModule</string>
			<key>longName</key>
			<string>About</string>
			<key>secondary</key>
			<true/>
			<key>shortName</key>
			<string>About</string>
			<key>tag</key>
			<string>about</string>
		</dict>
		<dict>
			<key>class</key>
			<string>SettingsModule</string>
			<key>iconImage</key>
			<string>modules/home/customize.png</string>
			<key>listViewImage</key>
			<string>modules/home/module-settings.png</string>
			<key>longName</key>
			<string>Settings</string>
			<key>secondary</key>
			<true/>
			<key>shortName</key>
			<string>Settings</string>
			<key>tabBarImage</key>
			<string>modules/home/tab-settings.png</string>
			<key>tag</key>
			<string>settings</string>
		</dict>
		<dict>
			<key>class</key>
			<string>ExternalURLModule</string>
			<key>longName</key>
			<string>Full Website</string>
			<key>secondary</key>
			<true/>
			<key>shortName</key>
			<string>Full Website</string>
			<key>tag</key>
			<string>fullweb</string>
			<key>url</key>
			<string>http://www.harvard.edu/?fullsite=yes</string>
		</dict>
	</array>
	<key>Location</key>
	<dict>
		<key>DefaultCenter</key>
		<string>42.3944, -71.1453</string>
		<key>DefaultZoom</key>
		<string>16</string>
	</dict>
	<key>NavigationControllerClass</key>
	<string>UINavigationController</string>
	<key>OrganizationName</key>
	<string>Universitas</string>
	<key>Servers</key>
	<dict>
		<key>Development</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>localhost</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Production</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>www.example.com</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Staging</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>staging.example.com</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Testing</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>example-test.com</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
	</dict>
	<key>SocialMedia</key>
	<dict>
		<key>Email</key>
		<dict/>
		<key>bit.ly</key>
		<dict>
			<key>APIKey</key>
			<string></string>
			<key>Username</key>
			<string></string>
		</dict>
		<key>Facebook</key>
		<dict>
			<key>APIKey</key>
			<string></string>
			<key>APISecret</key>
			<string></string>
			<key>AppID</key>
			<string></string>
		</dict>
		<key>Twitter</key>
		<dict>
			<key>OAuthConsumerKey</key>
			<string></string>
			<key>OAuthConsumerSecret</key>
			<string></string>
		</dict>
	</dict>
	<key>UserSettings</key>
	<dict>
		<key>DefaultFont</key>
		<array>
			<string>Georgia</string>
			<string>Verdana</string>
			<string>Helvetica</string>
			<string>Courier</string>
		</array>
		<key>DefaultFontSize</key>
		<array>
			<string>Tiny</string>
			<string>Small</string>
			<string>Regular</string>
			<string>Large</string>
			<string>Huge</string>
		</array>
	</dict>
</dict>
</plist>
