<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Analytics</key>
	<dict>
		<key>AccountID</key>
		<string></string>
		<key>Provider</key>
		<string></string>
	</dict>
	<key>AppFeedbackAddress</key>
	<string>john.smith@example.com</string>
	<key>Location</key>
	<dict>
		<key>DefaultCenter</key>
		<string>42.3944, -71.1453</string>
		<key>DefaultZoom</key>
		<string>16</string>
	</dict>
	<key>Modules</key>
	<array>
		<dict>
			<key>hidden</key>
			<true/>
			<key>id</key>
			<string>home</string>
			<key>tag</key>
			<string>home</string>
			<key>title</key>
			<string>Home</string>
		</dict>
		<dict>
			<key>id</key>
			<string>people</string>
			<key>tag</key>
			<string>people</string>
			<key>title</key>
			<string>Directory</string>
		</dict>
		<dict>
			<key>id</key>
			<string>map</string>
			<key>tag</key>
			<string>map</string>
			<key>title</key>
			<string>Map</string>
		</dict>
		<dict>
			<key>id</key>
			<string>news</string>
			<key>tag</key>
			<string>news</string>
			<key>title</key>
			<string>News</string>
		</dict>
		<dict>
			<key>id</key>
			<string>calendar</string>
			<key>tag</key>
			<string>calendar</string>
			<key>title</key>
			<string>Events</string>
		</dict>
		<dict>
			<key>id</key>
			<string>video</string>
			<key>tag</key>
			<string>video</string>
			<key>title</key>
			<string>Video</string>
		</dict>
		<dict>
			<key>id</key>
			<string>emergency</string>
			<key>tag</key>
			<string>emergency</string>
			<key>title</key>
			<string>Emergency</string>
		</dict>
		<dict>
			<key>id</key>
			<string>content</string>
			<key>tag</key>
			<string>admissions</string>
			<key>title</key>
			<string>Admissions</string>
		</dict>
		<dict>
			<key>id</key>
			<string>customize</string>
			<key>secondary</key>
			<true/>
			<key>tag</key>
			<string>customize</string>
			<key>title</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>id</key>
			<string>fullweb</string>
			<key>payload</key>
			<dict>
				<key>url</key>
				<string>http://www.modolabs.com</string>
			</dict>
			<key>secondary</key>
			<true/>
			<key>tag</key>
			<string>fullweb</string>
			<key>title</key>
			<string>Full Website</string>
		</dict>
		<dict>
			<key>id</key>
			<string>fullweb</string>
			<key>payload</key>
			<dict>
				<key>url</key>
				<string>http://m.modolabs.com</string>
			</dict>
			<key>secondary</key>
			<true/>
			<key>tag</key>
			<string>mobileweb</string>
			<key>title</key>
			<string>Mobile Website</string>
		</dict>
		<dict>
			<key>id</key>
			<string>about</string>
			<key>secondary</key>
			<true/>
			<key>tag</key>
			<string>about</string>
			<key>title</key>
			<string>About</string>
		</dict>
	</array>
	<key>OrganizationName</key>
	<string>Universitas</string>
	<key>Servers</key>
	<dict>
		<key>Development</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>demo.modolabs.com</string>
			<key>PathExtension</key>
			<string>dario2</string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Production</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>www.example.com</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Staging</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>localhost:8888</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Testing</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>kurogo.hq.modolabs.com</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
	</dict>
	<key>SocialMedia</key>
	<dict>
		<key>bit.ly</key>
		<dict>
			<key>APIKey</key>
			<string></string>
			<key>Username</key>
			<string></string>
		</dict>
		<key>Email</key>
		<dict/>
		<key>Facebook</key>
		<dict>
			<key>APIKey</key>
			<string></string>
			<key>APISecret</key>
			<string></string>
			<key>AppID</key>
			<string></string>
		</dict>
		<key>Foursquare</key>
		<dict>
			<key>ClientID</key>
			<string></string>
			<key>ClientSecret</key>
			<string></string>
		</dict>
		<key>Twitter</key>
		<dict>
			<key>OAuthConsumerKey</key>
			<string></string>
			<key>OAuthConsumerSecret</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
